<div class="footDiv d-flex  flex-column justify-content-center align-items-center">
    <div class="footerContent d-flex justify-content-around align-items-start">

        <div class="bal">
            <h5>Rólunk</h5>
            <p class="us">
                {{aboutUs}}
            </p>
            <h5 class="d-inline">Cím:</h5>
            <p class="cim">{{cim}}</p>

        </div>
        <div class="kozep">
            <h5>Kapcsolat</h5>
            <p class="kapcs">Email: scahueroliver&#64;turr.hu</p>
            <p class="kapcs">Telefon: +36 20 123 4567</p>
            <p class="kapcs">GYIK</p>
            <p class="kapcs">Felhasználási feltételek</p>


        </div>

        <div class="jobb">
            <h5>Kövess minket</h5>
            <p class="kapcs">Facebook</p>
            <p class="kapcs">Instagram</p>
            <p class="kapcs">X</p>
        </div>
    </div>
    <div class="credits d-flex justify-content-center align-items-center">
        <img src="logo.png" alt="Logo" width="30" height="24" class="d-inline-block" id="logoImg">
        <span>{{author}} - &copy; {{title}} 2025</span>
    </div>

</div>