<div class="footDiv d-flex  flex-column justify-content-center align-items-center">
    <div class="footerContent d-flex justify-content-around align-items-start">

        <div class="bal">
            <h5>Rólunk</h5>
            <p class="us">
                {{aboutUs}}
            </p>



        </div>
        <div class="kozep">
            <!--a cím alapján kialakítani ezeket az elemeket: email, telefon, gyik, felhasználási feltételek-->
            <h5>Kapcsolat/Tudnivalók</h5>
            <div class="contactInfo d-flex flex-column align-items-start">

                <div class="d-flex flex-row align-items-center footerElement">
                    <i class="bi bi-geo-alt fs-4 p-1"></i>
                    <p class="feP">{{cim}}</p>
                </div>
                <div class="d-flex flex-row align-items-center footerElement">
                    <i class="bi bi-envelope fs-4 p-1"></i>
                    <p class="feP">{{email}}</p>
                </div>
                <div class="d-flex flex-row align-items-center footerElement">
                    <i class="bi bi-phone fs-4 p-1"></i>
                    <p class="feP">+36 30 123 4567</p>
                </div>
            </div>


        </div>

        <div class="jobb">
            <h5>Kövess minket</h5>
            <div class="media">
                <p class="kapcs"><i class="bi bi-instagram mediaIcons"></i></p>
                <p class="kapcs">
                    <i class="bi bi-facebook mediaIcons"></i>
                </p>
                <p class="kapcs">
                    <i class="bi bi-twitter mediaIcons"></i>
                </p>
            </div>
            <h5>Kérdésed van?</h5>  
            <div class="docs">
                <div class="d-flex flex-row align-items-center footerElement">
                    <i class="bi bi-question-circle fs-4 p-1"></i>
                    <p class="feP">GYIK </p>
                </div>
                <div class="d-flex flex-row align-items-center footerElement">
                    <i class="bi bi-file-text fs-4 p-1"></i>
                    <p class="feP">Felhasználási feltételek</p>
                </div>

            </div>
        </div>
    </div>
    <div class="credits d-flex justify-content-center align-items-center">
        <i class="bi bi-houses p-3"></i>
        <span class="">{{author}} - &copy; {{title}} 2025</span>
    </div>

</div>