.modal-content{
    background: linear-gradient(var(--secondary-color),var(--secondary-light-color));
    color: var(--main-font-color);
}
.modal-content .btn{
    background-color: var(--input-color);
    color: white;
    text-shadow: 0 0 5px var(--main-bg-color);
    transition: 500ms;

}
.btn-close{
    filter: invert(1);
}

.modal-content .btn:hover{
    background-color: var(--main-bg-color);
    text-shadow: 0 0 5px var(--main-font-color);
    transform: scale(1.02);
}   

.more{
  cursor: pointer;
  background-color: var(--input-color);
  color: white;
  text-shadow: 0 0 5px var(--main-bg-color);
  text-decoration: underline;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 4px var(--main-bg-color);
  transition: all 0.3s ease;
  font-size: 25px;
}

.more:hover {
    background-color: var(--secondary-light-color);
    color: var(--secondary-color);
    box-shadow: 0 0 8px var(--main-bg-color);
}


.cardDiv{
    background: linear-gradient(var(--main-bg-color), var(--secondary-color));
    color: var(--main-font-color);
    border-radius: 15px;
    box-shadow: 0 0 10px var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 250px;
    height: 370px;
    min-height: fit-content;

}

.cardDiv img{
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    width: 250px;
    border-radius: 10px 10px 0 0;

}

.properties{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 250px;
    height: 100px;
    color: var(--main-font-color);
    font-style: italic;
    font-size: 18px;
}

.price{
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    color: var(--main-font-color);
    font-style: normal;
}

.address{
    font-size: 16px;
    margin: 0;
    margin-bottom: 5px;
}

.more{
    position: relative;
    bottom: -40px;
    right: -90px;
}

p{
    margin: 0;
}

hr{
    width: 90%;
    border: 0.5px solid var(--main-font-color);
    margin: 10px 0;
    z-index: 0;
}


ul{
    width: 80%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    gap: 20px;
    flex-wrap: wrap;
    margin: 5px 0 0 0;
}



input[type="text"],input[type="number"]{
    background-color: var(--input-color);
    color: var(--main-bg-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px var(--main-bg-color);
    transition: all 0.3s ease;
    padding: 8px 16px;
    width: 30% !important;
    align-self: flex-start !important;
}
textarea{
    background-color: var(--input-color);
    color: var(--main-bg-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px var(--main-bg-color);
    transition: all 0.3s ease;
    padding: 8px 16px;
    align-self: flex-start !important;
}

.modalContent {

    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

}

.modalContent > img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    min-width: 300px;
    object-fit: contain;
    border: var(--main-font-color) 2px solid;
}
.form-label{
    color: white;
    text-shadow: 0 0 5px var(--main-bg-color);
}
.right{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 330px;
    color: white;
    text-shadow: 0 0 5px var(--main-bg-color);

}
#ModifyModalLabel{
    color: white;
    text-shadow: 0 0 5px var(--main-bg-color);
    font-weight: bolder;
}
#moreInfoLabel{
    color: white;
    text-shadow: 0 0 5px var(--main-bg-color);
    font-weight: bolder;
    font-size: larger;
}
#moreInfo{
    color: var(--main-font-color);
    border: none;
    
}
#ModifyModal{
    background-color: var(--main-bg-color);
    border: none;
}

.modal-content{
    background-color: var(--secondary-light-color);
    color: var(--main-bg-color);
    border-radius: 15px;
    width: 800px;
    margin: 0 auto;
}

.get{

    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px var(--main-bg-color);
    transition: all 0.3s ease;
}

.get:focus{
    outline: none !important;
    box-shadow: none !important;
}

.modal-dialog {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 50px;
}

.closeModal
{
    color: var(--main-font-color);
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    padding: 4px 8px;
}


.modalPrice{
    font-size: 50px;
    color: white;
    text-shadow: 0 0 5px var(--main-bg-color);
    font-weight: bolder;
    margin: 0;
    color: var(--main-font-color);
    font-style: normal;

    position: relative;
    bottom: -10px;
    right: -340px;

}

@media screen and (max-width: 710px) {

    input[type="text"]{
        width: 80% !important;
    }
}