<div class="loginContainer mb-3 mx-auto">
  <h2 class="text-center mb-4">Bejelentkezés</h2>
  
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10 mx-auto">
      <div class="loginDiv p-4 d-flex flex-column">
        <h4 class="text-center mb-3">Bejelentkezési adatok</h4>
        <hr>
        <form class="d-flex flex-column">

          <div class="mb-3">
            <label for="loginEmail" class="form-label">Email</label>
            <input type="email" class="form-control" id="loginEmail" placeholder="Email" name="email" [(ngModel)]="user.email">
          </div>

          <div class="mb-3">
            <label for="loginPw" class="form-label">Jelszó</label>
            <input type="password" class="form-control" id="loginPw" placeholder="Jelszó" name="password" [(ngModel)]="user.password">
          </div>

          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe" [(ngModel)]="rememberMe">
            <label class="form-check-label" for="rememberMe">Maradj bejelentkezve</label>
          </div>

          <button type="button" class="btn btn-primary w-100" (click)="login()">Bejelentkezés</button>
        </form>
      </div>
    </div>
  </div>
</div>