<form>
    <div class="mb-3">
      <label for="loginEmail" class="form-label">Email address</label>
      <input type="email" class="form-control" id="loginEmail" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="loginPw" class="form-label">Password</label>
      <input type="password" class="form-control" id="loginPw">
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="rememberMe">
      <label class="form-check-label" for="rememberMe">Remember me</label>
    </div>
    <button class="btn btn-primary">Bejelentkezés</button>
  </form>