
input[type="email"], input[type="text"], textarea, select {

    background-color: var(--input-color);
    box-shadow: none;
    box-shadow: 0px 0px 3px var(--main-bg-color);
}

textarea{
    resize: none;
    height: auto;
    min-height: 170px;
}


button.btn-primary {

    background-color: var(--secondary-light-color);
    border: none;

}

button:hover{
    background-color: var(--secondary-color);
    
}


.form-select:focus{
    outline: none !important;
    box-shadow: none !important;
}
