.more{
  cursor: pointer;
  background-color: var(--input-color);
  color: var(--main-font-color);
  text-decoration: underline;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 4px var(--main-bg-color);
  transition: all 0.3s ease;
  font-size: 25px;
}

.more:hover {
    background-color: var(--secondary-light-color);
    color: var(--secondary-color);
    box-shadow: 0 0 8px var(--main-bg-color);
}


.cardDiv{
    background: linear-gradient(var(--main-bg-color), var(--secondary-color));
    color: var(--main-font-color);
    border-radius: 15px;
    box-shadow: 0 0 10px var(--main-bg-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 250px;
    height: 370px;
    min-height: fit-content;

}

.cardDiv img{
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
    width: 250px;
    border-radius: 10px 10px 0 0;

}

.properties{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    width: 250px;
    height: 100px;
    color: var(--main-font-color);
    font-style: italic;
    font-size: 18px;
}

.price{
    font-size: 25px;
    font-weight: bold;
    margin: 0;
    color: var(--main-font-color);
    font-style: normal;
}

.address{
    font-size: 16px;
    margin: 0;
    margin-bottom: 5px;
}

.more{
    position: relative;
    bottom: -40px;
    right: -90px;
}

p{
    margin: 0;
}

hr{
    width: 90%;
    border: 0.5px solid var(--main-font-color);
    margin: 10px 0;
    z-index: 0;
}


ul{
    width: 80%;
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding: 0;
    gap: 20px;
    flex-wrap: wrap;
    margin: 5px 0 0 0;
}



.filterBTN{
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px var(--main-bg-color);
    transition: all 0.3s ease;
    padding: 8px 16px;
    margin-left: 20px;
    font-size: 16px;

}


input[type="text"]{
    background-color: var(--input-color);
    color: var(--main-bg-color);
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 4px var(--main-bg-color);
    transition: all 0.3s ease;
    padding: 8px 16px;
    width: 30% !important;
    align-self: flex-start !important;
}

.modalContent {

    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

}

@media screen and (max-width: 710px) {

    .filterBTN{
        margin-left: 5px;
        margin-right: 5px;
    }

    .filterSection
    {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    input[type="text"]{
        width: 80% !important;
    }
}
