<div class="mainAccDiv mx-auto">
<!--filter section -->
<div class="filterSection d-flex justify-content-center mb-3">
    <input type="text" placeholder="Keress..." class="form-control w-50 col col-lg-2 sm-2 col-2" [(ngModel)]="searchTerm" (ngModelChange)="searchFilter($event)"/>
    <div class="ms-2">
            <button class="filterBTN" type="button" (click)="toggleOrder('price')">
                Ár alapján <i [ngClass]="priceOrder === 'asc' ? 'bi bi-caret-up' : 'bi bi-caret-down'"></i>
            </button>
            <button class="filterBTN" type="button" (click)="toggleOrder('capacity')">
                Kapacitás alapján <i [ngClass]="capacityOrder === 'asc' ? 'bi bi-caret-up' : 'bi bi-caret-down'"></i>
            </button>
    </div>
</div>

<ul class="accommodationList d-flex flex-wrap justify-content-center mb-3 mx-auto">
    <li *ngFor="let accommodation of accommodations">
        <div class="cardDiv mx-auto">
            <img src="{{accommodation.imageUrl}}.png" alt="">
            <div class="properties">
                <p class="capacity"><span style="font-style: normal;">Ferőhely:</span> {{accommodation.capacity}} fő</p>
                <p class="address">
                    {{accommodation.address}}
                </p>
                <hr>
                <p class="price">
                    {{ accommodation.price | currency:'EUR':'symbol':'1.0-0' }}
                </p>
                <button class="more"><i class="bi bi-three-dots"></i></button>
            </div>
        </div>
    </li>
</ul>
</div>