<div class="mainDiv p3 mb-3 admin-cards-row">

    <div class="card cardDiv mx-3 admin-card">
        <div class="card-body text-center">
            <h4 class="card-title mb-3">Szállások</h4>

            <div class="list-group mb-3">
                <a *ngFor="let accomodation of accomodations | slice:0:5;let i = index"
                    class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 mx-auto">{{accomodation.name}}</h5>
                    </div>  
                </a>
                <p><small>Továbbiak megtekintéséhez kattints a kezelés gombra</small></p>
            </div>


            <a class="btn" data-bs-toggle="modal" data-bs-target="#AccomodationModal">Kezelés</a>
        </div>
    </div>

    <div class="card cardDiv mx-3 admin-card">
        <div class="card-body text-center">
            <h4 class="card-title mb-3">Felhasználók</h4>
            <div class="list-group mb-3">
                <a *ngFor="let user of users | slice:0:5;let i = index"
                    class="list-group-item list-group-item-action">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1 mx-auto">{{user.name}}</h5>
                    </div>
                </a>
                <p><small>Továbbiak megtekintéséhez kattints a kezelés gombra</small></p>
            </div>
            <a class="btn" data-bs-toggle="modal" data-bs-target="#UserModal">Kezelés</a>
        </div>
    </div>


 <!-- User Modal -->
    <div class="modal fade" id="UserModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="UserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-4" id="UserModalLabel">Felhasználók kezelése</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Név</th>
                  <th>Email</th>
                  <th>Telefonszám</th>
                  <th>Cím</th>
                  <th>Műveletek</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of users">
                  <td>{{user.name}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.phone}}</td>
                  <td>{{user.address}}</td>
                  <td>
                    <button class="btn btn-sm btn-warning me-2" (click)="modifyUser(user)">Módosítás</button>
                    <button class="btn btn-sm btn-danger" (click)="deleteUser(user.id)">Törlés</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Mégsem</button>
        </div>
      </div>
    </div>
  </div>
<!-- Accomodation modal -->
 <div class="modal fade" id="AccomodationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="AccomodationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-4" id="AccomodationModalLabel">Szállások kezelése</h1>

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th>Név</th>
                  <th>Cím</th>
                  <th>Ár</th>
                  <th>Műveletek</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let accomodation of accomodations">
                  <td>{{accomodation.name}}</td>
                  <td>{{accomodation.address}}</td>
                  <td>{{accomodation.price}} €</td>
                  <td>
                    <button class="btn btn-sm btn-warning me-2" (click)="modifyAccomodation(accomodation)">Módosítás</button>
                    <button class="btn btn-sm btn-danger" (click)="deleteAccomodation(accomodation.id)">Törlés</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Mégsem</button>
        </div>
      </div>
    </div>
  </div>
<!-- Modify modal -->
   <div class="modal fade" id="ModifyModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="ModifyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-4" id="ModifyModalLabel">Szállás módosítása</h1>

          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="accomodationName" class="form-label">Név</label>
              <input type="text" class="form-control" id="accomodationName" placeholder="Név" [(ngModel)]="selectedAccomodation.name" name="name">
            </div>
            <div class="mb-3">
              <label for="accomodationAddress" class="form-label">Cím</label>
              <input type="text" class="form-control" id="accomodationAddress" placeholder="Cím" [(ngModel)]="selectedAccomodation.address" name="address">
            </div>
            <div class="mb-3">
              <label for="accomodationPrice" class="form-label">Ár (€)</label>
              <input type="number" class="form-control" id="accomodationPrice" placeholder="Ár" [(ngModel)]="selectedAccomodation.price" name="price">
            </div>
            <button type="button" class="btn btn-primary w-100" (click)="saveAccomodationChanges()" [disabled]="loadingModify">
              <span *ngIf="loadingModify">
                <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                Mentés...
              </span>
              <span *ngIf="!loadingModify">Változások mentése</span>
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-bs-dismiss="modal">Mégsem</button>
        </div>
      </div>
    </div>
  </div>
</div>