<div class="loginDiv p3 col-lg-3 col-sm-5 col-6 mb-3 mx-auto">
    <h2 class="text-center">Regisztráció</h2>
    <hr>
    <form>
        <div class="mb-3">
            <input type="text" class="form-control" id="regName" aria-describedby="name" placeholder="Teljes név"
                required>
        </div>
        <div class="mb-3">
            <input type="email" class="form-control" id="regEmail" aria-describedby="emailHelp" placeholder="Email"
                required>
        </div>
        <div class="mb-3">
            <hr>
            <input type="password" class="form-control" id="regPw" placeholder="Jelszó" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" id="regPw" placeholder="Jelszó mégegyszer" required>
        </div>
        <div class="mb-3">
            <div class="optionalSection text-center">
                <hr>
                <h6>Opcionális mezők</h6>
            </div>
            <input type="tel" class="form-control" id="regPhone" placeholder="Telefonszám"
                pattern="[0-9]{2}-[0-9]{3}-[0-9]{4}">
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" id="regAddress" placeholder="Lakcím">
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Elfogadom a feltételeket <em
                    class="text-danger">*</em></label>
        </div>
        <button class="btn btn-primary">Regisztráció</button>
    </form>
</div>