/* You can add global styles to this file, and also import other style files */

:root {
    /*--main-font-color: #ecfdfd;
    --main-bg-color: #34424d;
    --secondary-color: #3d3d66;
    --secondary-light-color: #8e8dbe;
    --glass-bg: rgba(255, 255, 255, 0.12);
    --glass-bg-hover: rgba(255, 255, 255, 0.22);
    --input-color: #d2d2fa77;*/


    --main-font-color: #ecfdfd;
    --main-bg-color: #34424d;
    --secondary-color: #351717;
    --secondary-light-color: #929292;
    --glass-bg: rgba(255, 255, 255, 0.12);
    --glass-bg-hover: rgba(255, 255, 255, 0.22);
    --input-color: #f0f0f077;

      --main-font-color: #ecfdfd;
    --main-bg-color: #34424d;
    --secondary-color: #3e2a4e;
    --secondary-light-color: #929292;
    --glass-bg: rgba(255, 255, 255, 0.12);
    --glass-bg-hover: rgba(255, 255, 255, 0.22);
    --input-color: #f0f0f077;

}

body {
    padding: 0;
    background-color: var(--input-color);
    background-image: url('../public/background.png');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

app-root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

app-footer {
    margin-top: auto;
}


app-navbar {
    justify-content: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;
    transition: all 0.4s ease-out;
    z-index: 1000 !important;

}

app-navbar.stuck,
#navbarNav.stuck {
    transform: scale(0.9) translateY(-14px);
    background: linear-gradient(var(--glass-bg-hover) 30%,  transparent 70%);

}

#navbarNav,
nav {
    background: none !important;
}



input[type="checkbox"]:focus {
    outline: none !important;
    box-shadow: none !important;
}


input[type="text"]:focus {
    outline: none !important;
    box-shadow: none !important;
}



@media (max-width: 991px) {

    app-navbar.stuck,
    #navbarNav.stuck,
    nav {
        transform: scale(1) translatex(0) translateY(0);
    }
}