/* You can add global styles to this file, and also import other style files */

:root{
    --main-font-color: #ecfdfd;
    --main-bg-color: #34424d;
    --secondary-color: #3d3d66;
    --secondary-light-color: #8e8dbe;
    --glass-bg: rgba(255, 255, 255, 0.12);

    --glass-bg-hover: rgba(255, 255, 255, 0.22);

    --input-color: #d2d2fa77;

 
}

//font main color:  #ecfdfd;
//background color: #34424d; 
//secondary color: #8e8dbe;


body{
    padding: 0;
    background-color: var(--main-font-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

app-root {
    flex: 1;
    display: flex;
    flex-direction: column;
}

app-footer{
    margin-top: auto;
}


app-navbar{
    position: sticky;
    top: 0;
    left: 0;
}
