.logoDiv{
    background-color: var(--main-bg-color);
    color: var(--main-font-color);
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    font-variant: small-caps;
    display: flex;
    align-items: center;
    justify-content: center;

}

#logoImg{
    margin-right: 10px;
    border-radius: 5px;
    filter: invert(0.2);
}
